* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    animation: transitionIn 0.75s;

    width: 100%;
    height:100vh;
    background: rgb(99, 99, 99);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #fe1919;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.25s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fe1919;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: #fe1919;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.25s;
}

button:hover span {
    width: 100%
}

button:hover {
    border: none;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-25deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.policyContent {
    width: 100%;
    position: absolute;
    top: 106%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    z-index: -1;
}

.policyContent h1 {
    font-size: 70px;
    margin-top: 80px;
}

.policyContent p {
    font-size: 25px;
    font-weight: 20;
}

hr.solid {
    border-top: 3px solid #bbb;
}

a {
    color: #fe1919;
    transition: 0.25s;
}

a:hover {
    color: #9d0505;
}